# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environments
# ==========================
venv/
.venv/
env/
ENV/

# ==========================
# Dataset Files
# ==========================
Reviews.csv

# ==========================
# Model Files
# ==========================
*.pkl
*.joblib

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# IDE Files
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Cache
# ==========================
.cache/
.pytest_cache/

# ==========================
# Temporary Files
# ==========================
temp/
tmp/